/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

/* Container for notes */
.app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Input fields */
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

/* Buttons */
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 4px;
}

button:hover {
    background-color: #0056b3;
}

.sticky-note {
    background-color: #feff9c;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.animated-sticky-note {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease;
}

.animated-sticky-note:hover {
    transform: scale(1.05);
}

/* Notes list */
/* .item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

html { height: 100%; }
    body {
        background-color: #f5f5f5;
    }
    textarea {
        border: 1px solid #EEEEEE;
        box-shadow: 1px 1px 0 #DDDDDD;
        display: block;
        font-family: 'Marck Script', cursive;
        font-size: 22px;
        line-height: 50px;
        margin: 2% auto;
        padding: 11px 20px 0 70px;
        resize: none;
        height: 689px;
        width: 530px;
        background-image:
            -moz-linear-gradient(top, transparent, transparent 49px, #E7EFF8 0px),
            -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%),
            -moz-radial-gradient(3.9% 46%, circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%);
        background-image:
            -webkit-linear-gradient(top, transparent, transparent 49px, #E7EFF8 0),
            -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%),
            -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);
        background-size: 100% 50px;
    } */


/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .app-container {
        padding: 10px;
    }
}
